.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top:5px;
}

.form-label {
    padding-left:0px !important;
}

img {
    width:140px;
    height:140px;
}

.btn-success {
    background-color: #3b7d4a!important;
}

.btn-success:hover {
    background-color: #4daf64!important;
}

img.track {
    border: 1px solid #8a8a8a;
}